@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  color: black;
  font-family: 'Press Start 2P', cursive;
}

body .statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  background-image: url("./game//images/upgradeBackground.png");
  background-size: contain;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

body .statistics .image {
  height: 15px;
  position: relative;
  top: -2px;
}

body .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 800px;
  background-color: #2b2b2b;
  overflow: hidden;
}

body .map .tile {
  margin: 0;
  background-image: url("./game//images/tile.png");
  background-size: contain;
}

body .map .tile .tower {
  margin: 0;
  position: relative;
}

body .map .tile .tower .upgrades {
  display: none;
  z-index: 2;
  position: absolute;
}

body .map .tile .tower .upgrades .upgrade {
  background-image: url("./game/images/upgradeBackground.png");
  background-size: contain;
  padding: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  border: black solid 2px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
}

body .map .tile .tower .upgrades .upgrade .cost {
  margin-left: auto;
  margin-right: 5px;
}

body .map .tile .tower .upgrades .upgrade .coin {
  height: 10px;
}

body .map .tile .tower .upgrades .upgrade:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  border: black dashed 2px;
}

body .map .tile .tower .sellWraper {
  display: none;
  position: relative;
  z-index: 3;
}

body .map .tile .tower .sellWraper .sell {
  border: black solid 2px;
  background-image: url("./game/images/upgradeBackground.png");
  background-size: contain;
  width: 18px;
  padding: 7px;
  padding-right: 5px;
  margin: auto;
  position: relative;
  top: 20px;
}

body .map .tile .tower .sellWraper .sell:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  border: black dashed 2px;
}

body .map .tile .tower .range {
  display: none;
  position: absolute;
  z-index: 2;
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
}

body .map .tile .options {
  display: none;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 2;
}

body .map .tile .options .option {
  background-image: url("./game/images/upgradeBackground.png");
  background-size: contain;
  padding: 5px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  border: black solid 2px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
}

body .map .tile .options .option .cost {
  margin-left: auto;
  margin-right: 5px;
}

body .map .tile .options .option .coin {
  height: 10px;
}

body .map .tile .options .option:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  border: black dashed 2px;
}

body .map .tile .options:hover {
  display: block;
}

body .map .tile:hover img {
  z-index: 2;
}

body .map .tile:hover .upgrades {
  display: block;
}

body .map .tile:hover .sellWraper {
  display: block;
}

body .map .tile:hover .range {
  display: block;
}

body .map .tile:hover .range:hover {
  display: none;
}

body .map .tile:active .options {
  display: block;
}

body .map .path {
  background-size: contain;
}

body .map .Horizontal {
  background-image: url("./game//images/pathHorizontal.png");
}

body .map .Vertical {
  background-image: url("./game//images/pathVertical.png");
}

body .map .Turn0 {
  background-image: url("./game//images/pathTurn.png");
}

body .map .Turn90 {
  background-image: url("./game//images/pathTurn90.png");
}

body .map .Turn180 {
  background-image: url("./game//images/pathTurn180.png");
}

body .map .Turn270 {
  background-image: url("./game//images/pathTurn270.png");
}

body .map .enemy {
  height: 0;
  width: 0;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

body .map .enemy .hpBar {
  height: 0px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .map .enemy .hpBar .green {
  background-color: green;
  height: 3px;
}

body .map .enemy .hpBar .gray {
  background-color: gray;
  height: 3px;
}

@-webkit-keyframes moveDown {
  to {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes moveDown {
  to {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@-webkit-keyframes moveUp {
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes moveUp {
  to {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@-webkit-keyframes moveRight {
  to {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes moveRight {
  to {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@-webkit-keyframes moveLeft {
  to {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes moveLeft {
  to {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@-webkit-keyframes moveDownRight {
  to {
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
}

@keyframes moveDownRight {
  to {
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
}

@-webkit-keyframes moveRightDown {
  to {
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
}

@keyframes moveRightDown {
  to {
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
}

@-webkit-keyframes moveLeftDown {
  to {
    -webkit-transform: translate(-50px, 50px);
            transform: translate(-50px, 50px);
  }
}

@keyframes moveLeftDown {
  to {
    -webkit-transform: translate(-50px, 50px);
            transform: translate(-50px, 50px);
  }
}

@-webkit-keyframes moveDownLeft {
  to {
    -webkit-transform: translate(-50px, 50px);
            transform: translate(-50px, 50px);
  }
}

@keyframes moveDownLeft {
  to {
    -webkit-transform: translate(-50px, 50px);
            transform: translate(-50px, 50px);
  }
}

@-webkit-keyframes moveRightUp {
  to {
    -webkit-transform: translate(50px, -50px);
            transform: translate(50px, -50px);
  }
}

@keyframes moveRightUp {
  to {
    -webkit-transform: translate(50px, -50px);
            transform: translate(50px, -50px);
  }
}

@-webkit-keyframes moveUpRight {
  to {
    -webkit-transform: translate(50px, -50px);
            transform: translate(50px, -50px);
  }
}

@keyframes moveUpRight {
  to {
    -webkit-transform: translate(50px, -50px);
            transform: translate(50px, -50px);
  }
}

@-webkit-keyframes moveLeftUp {
  to {
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
  }
}

@keyframes moveLeftUp {
  to {
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
  }
}

@-webkit-keyframes moveUpLeft {
  to {
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
  }
}

@keyframes moveUpLeft {
  to {
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
  }
}
/*# sourceMappingURL=App.css.map */