@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    font-family: 'Press Start 2P', cursive;

    .map {
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        background-color: rgb(43, 43, 43);
        overflow: hidden;

        .tile {
            margin: 0;
            background-image: url('./game//images/tile.png');
            background-size: contain;

            .tower {
                margin: 0;
                position: relative;

                .upgrades {
                    display: none;
                    z-index: 2;
                    position: absolute;
    
                    .upgrade {
                        color: black;
                        background-image: url('./game/images/upgradeBackground.png');
                        background-size: contain;
                        padding: 5px;
                        margin: 5px;
                        margin-left: auto;
                        margin-right: auto;
                        font-size: 10px;
                        border: black solid 2px;
                        position: relative;
                        z-index: 2;
                        display: flex;
                        justify-content: space-between;
                        max-width: 200px;
                    }

                    .upgrade:hover {
                        filter: brightness(120%);
                        border: black dashed 2px;
                    }
                }

                .sellWraper {
                    display: none;
                    position: relative;
                    z-index: 3;

                    .sell {
                        color: black;
                        border: black solid 2px;
                        background-image: url('./game/images/upgradeBackground.png');
                        background-size: contain;
                        width: 18px;
                        padding: 7px;
                        padding-right: 5px;
                        margin: auto;
                        position: relative;
                        top: 20px;
                    }

                    .sell:hover {
                        filter: brightness(120%);
                        border: black dashed 2px;
                    }
                }
                

                .range {
                    display: none;
                    position: absolute;
                    z-index: 2;
                    background-color: #9e9e9e;
                    filter: opacity(40%);
                }
            }

            .options {
                display: none;
                position: relative;
                padding-top: 25px;
                padding-bottom: 25px;
                z-index: 2;

                .option {
                    color: black;
                    background-image: url('./game/images/upgradeBackground.png');
                    background-size: contain;
                    padding: 5px;
                    margin: 5px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 10px;
                    border: black solid 2px;
                    position: relative;
                    z-index: 2;
                    display: flex;
                    justify-content: space-between;
                    max-width: 200px;
                }

                .option:hover {
                    filter: brightness(120%);
                    border: black dashed 2px;
                }
            }

            .options:hover {
                display: block;
            }
        }

        .tile:hover {
            img          { z-index: 2; }
            .upgrades    { display: block; }
            .sellWraper  { display: block; }   
            .range       { display: block; }
            .range:hover { display: none; }
        }

        .tile:active {
            .options { display: block; }
        }

        .path {
            background-size: contain;
        }
        
        .Horizontal { background-image: url('./game//images/pathHorizontal.png'); }
        .Vertical   { background-image: url('./game//images/pathVertical.png'); }
        .Turn0      { background-image: url('./game//images/pathTurn.png'); }
        .Turn90     { background-image: url('./game//images/pathTurn90.png'); }
        .Turn180    { background-image: url('./game//images/pathTurn180.png'); }
        .Turn270    { background-image: url('./game//images/pathTurn270.png'); }
    
        .enemy {
            height: 0;
            width: 0;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            animation-timing-function: linear;

            .hpBar {
                height: 0px;
                width: 30px;
                display: flex;

                .green {
                    background-color: green;
                    height: 3px;
                }

                .gray {
                    background-color: gray;
                    height: 3px;
                }
            }
        }
    }
  }
  
  @keyframes moveDown  { to { transform: translateY(100px); } }
  @keyframes moveUp    { to { transform: translateY(-100px); } }
  @keyframes moveRight { to { transform: translateX(100px); } }
  @keyframes moveLeft  { to { transform: translateX(-100px); } }
  
  @keyframes moveDownRight { to { transform: translate(50px, 50px) } }
  @keyframes moveRightDown { to { transform: translate(50px, 50px) } }
  
  @keyframes moveLeftDown { to { transform: translate(-50px, 50px) } }
  @keyframes moveDownLeft { to { transform: translate(-50px, 50px) } }
  
  @keyframes moveRightUp { to { transform: translate(50px, -50px) } }
  @keyframes moveUpRight { to { transform: translate(50px, -50px) } }
  
  @keyframes moveLeftUp { to { transform: translate(-50px, -50px) } }
  @keyframes moveUpLeft { to { transform: translate(-50px, -50px) } }
  