body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
}

.map {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  background-color: rgb(43, 43, 43);
  overflow: hidden;
}

.tile {
  margin: auto;
}

.tile:hover {
  background-color: rgb(75, 75, 75);
}

.path {
  background-color: rgb(78, 42, 28);
}

.enemy {
  height: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
}

.hpBar {
  height: 0px;
  width: 30px;
  display: flex;
}

@keyframes moveDown {
  to { transform: translateY(100px); }
}

@keyframes moveUp {
  to { transform: translateY(-100px); }
}

@keyframes moveRight {
  to { transform: translateX(100px); }
}

@keyframes moveLeft {
  to { transform: translateX(-100px); }
}

@keyframes moveDownRight { to { transform: translate(50px, 50px) } }
@keyframes moveRightDown { to { transform: translate(50px, 50px) } }

@keyframes moveLeftDown { to { transform: translate(-50px, 50px) } }
@keyframes moveDownLeft { to { transform: translate(-50px, 50px) } }

@keyframes moveRightUp { to { transform: translate(50px, -50px) } }
@keyframes moveUpRight { to { transform: translate(50px, -50px) } }

@keyframes moveLeftUp { to { transform: translate(-50px, -50px) } }
@keyframes moveUpLeft { to { transform: translate(-50px, -50px) } }
